body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
    padding: 50px 20px;
    margin: 0;
  }
  .container {
    max-width: 80vw;
    margin: auto;
    background-color: rgb(0 0 0 / 56%);
    padding: 30px;
    border-radius: 15px;
    box-shadow: -14px 16px 18px -5px rgb(0, 0, 0);

  }
  input, button {
    padding: 15px;
    margin: 10px 5px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
  }
  input {
    width: 20vw;
  }
  button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
  .news {
    text-align: left;
    margin-top: 20px;
  }
  .news-card {
    background-color: rgb(226 226 226 / 69%);
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    color: black;
    font-size: 1.3rem;
  }
  .news-card h3 {
    margin: 5px 0;
  }
  .news-card a {
    color: #ffd700;
    text-decoration: none;
  }
